In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [37]:
la = ["숭실대학교", "서울시 동작구 상도동"]
la[0]

'숭실대학교'

In [38]:
la.index("숭실대학교")

0

In [39]:
la.append("append로 리스트 추가하기")
la

['숭실대학교', '서울시 동작구 상도동', 'append로 리스트 추가하기']

In [40]:
la[0:2]

['숭실대학교', '서울시 동작구 상도동']

In [41]:
del la[2]
la

['숭실대학교', '서울시 동작구 상도동']

In [42]:
del la

In [43]:
len(la)

NameError: name 'la' is not defined

In [87]:
np.random.rand(10) # 0-1 사이 난수 10개 생성

numpy.ndarray

In [45]:
random_number = np.random.rand(10)*10

In [46]:
result_ref = map(int, random_number) # 값이 저장된 주소값 반환

In [47]:
result = list(result_ref)
result

[1, 4, 0, 1, 4, 7, 8, 4, 0, 5]

In [48]:
result.count(1) # result에 1이 몇개?

2

In [49]:
for n in range(10): # 0-9
    c = result.count(n)
    print("%d: %d 개" %(n, c))

0: 2 개
1: 2 개
2: 0 개
3: 0 개
4: 3 개
5: 1 개
6: 0 개
7: 1 개
8: 1 개
9: 0 개

In [50]:
dic = {        # key: value
    "a": 1,
    "b": 20,
    "c": 11,
    "d": 98
}
type(dic)

dict

In [51]:
dic["a"]

1

In [52]:
dic.keys() # key의 list 반환
keys_list = list(dic.keys())
keys_list

['a', 'b', 'c', 'd']

In [53]:
keys_list[3]

'd'

## 판다스
- 열단위 추출
- 행단위 추출
- unique(), nuique(), value_counts()
- apply()

In [89]:
file_path = "/Users/jochan-u/Desktop/data-science-class/gapminder.tsv"

In [90]:
df = pd.read_csv(file_path, sep="\t") #tsv는 \t로 구분해놓은 파일 => \t로 나눠버려야함 ㅇㅇ
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

### 열 단위 축출

In [56]:
type(df["country"]) #series
df["country"]

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [57]:
df[["country"]] # [] 두번 조져주면 dataFrame 으로 반환

          country
0     Afghanistan
1     Afghanistan
2     Afghanistan
3     Afghanistan
4     Afghanistan
...           ...
1699     Zimbabwe
1700     Zimbabwe
1701     Zimbabwe
1702     Zimbabwe
1703     Zimbabwe

[1704 rows x 1 columns]

In [58]:
df[ ["country", "year"] ][0:10] # df[ [열] ] [행]

       country  year
0  Afghanistan  1952
1  Afghanistan  1957
2  Afghanistan  1962
3  Afghanistan  1967
4  Afghanistan  1972
5  Afghanistan  1977
6  Afghanistan  1982
7  Afghanistan  1987
8  Afghanistan  1992
9  Afghanistan  1997

In [59]:
df[["country", "year"]].head() #head() 조져주면 상위 5개 보여줌 ㅇㅇ

       country  year
0  Afghanistan  1952
1  Afghanistan  1957
2  Afghanistan  1962
3  Afghanistan  1967
4  Afghanistan  1972

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [61]:
df.isnull().sum() #isnull 까지 하면 df형태로 true, false 보여주는데, sum 조져주면 열 별로 null값 몇개인지 보여줌 ㅇㅇ

country      0
continent    0
year         0
lifeExp      0
pop          0
gdpPercap    0
dtype: int64

### 행 단위 축출 : loc[ [원하는 행, 원하는 행], [원하는 열, 원하는 열] ]

In [62]:
df.loc[[1,2], ["country", "year"]]

       country  year
1  Afghanistan  1957
2  Afghanistan  1962

In [63]:
df.loc[[1,2]]

       country continent  year  lifeExp       pop  gdpPercap
1  Afghanistan      Asia  1957   30.332   9240934  820.85303
2  Afghanistan      Asia  1962   31.997  10267083  853.10071

In [64]:
df.loc[1:8] # slice 사용 가능 - 행의 이름으로 slice 치면 그 값을 모두 포함해서 보여줌 (index 번호로 slice 치는 것과 다름!)

       country continent  year  lifeExp       pop   gdpPercap
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395

In [65]:
df.loc[0:10, ["country", "year"]]

        country  year
0   Afghanistan  1952
1   Afghanistan  1957
2   Afghanistan  1962
3   Afghanistan  1967
4   Afghanistan  1972
5   Afghanistan  1977
6   Afghanistan  1982
7   Afghanistan  1987
8   Afghanistan  1992
9   Afghanistan  1997
10  Afghanistan  2002

In [66]:
df.loc[1:6, "country":"year"] # 놀랍게도 열 또한 slice 가 가능하다

       country continent  year
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972
5  Afghanistan      Asia  1977
6  Afghanistan      Asia  1982

In [67]:
listT = [n for n in range(10)]
listT

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
df.loc[0:3, 0:3]

TypeError: cannot do slice indexing on Index with these indexers [0] of type int

In [93]:
df.iloc[0:4, 0:3]

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967

In [68]:
df.iloc[1:6, 0:4] #index로 행 축출 -> index 로 slice 치니까 6포함 ㄴㄴ, 4포함 ㄴㄴ

       country continent  year  lifeExp
1  Afghanistan      Asia  1957   30.332
2  Afghanistan      Asia  1962   31.997
3  Afghanistan      Asia  1967   34.020
4  Afghanistan      Asia  1972   36.088
5  Afghanistan      Asia  1977   38.438

In [69]:
df["country"].unique() # unique 조저주면 해당 열 중첩 내용 빼고 쫙 뽑아줌 ㅋ => array 타입임 ㅇㅇ

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Australia', 'Austria', 'Bahrain', 'Bangladesh', 'Belgium',
       'Benin', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Ethiopia',
       'Finland', 'France', 'Gabon', 'Gambia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti',
       'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Korea, Dem. Rep.',
       'Korea, Rep.', 'Kuwait', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Reunion', 'Romania', 'Rwanda',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'United Kingdom', 'United States', 'Uruguay',
       'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [70]:
df.country == "Korea, Rep." # boolean 값 반환해줌 -> 행이다 행

0       False
1       False
2       False
3       False
4       False
        ...
1699    False
1700    False
1701    False
1702    False
1703    False
Name: country, Length: 1704, dtype: bool

In [71]:
df[df.country == "Korea, Rep."]

         country continent  year  lifeExp       pop     gdpPercap
840  Korea, Rep.      Asia  1952   47.453  20947571   1030.592226
841  Korea, Rep.      Asia  1957   52.681  22611552   1487.593537
842  Korea, Rep.      Asia  1962   55.292  26420307   1536.344387
843  Korea, Rep.      Asia  1967   57.716  30131000   2029.228142
844  Korea, Rep.      Asia  1972   62.612  33505000   3030.876650
845  Korea, Rep.      Asia  1977   64.766  36436000   4657.221020
846  Korea, Rep.      Asia  1982   67.123  39326000   5622.942464
847  Korea, Rep.      Asia  1987   69.810  41622000   8533.088805
848  Korea, Rep.      Asia  1992   72.244  43805450  12104.278720
849  Korea, Rep.      Asia  1997   74.647  46173816  15993.527960
850  Korea, Rep.      Asia  2002   77.045  47969150  19233.988180
851  Korea, Rep.      Asia  2007   78.623  49044790  23348.139730

In [72]:
df[ ["country", "year"] ][df.country == "Korea, Rep."] # df [ [열, 열] ] [ 행 ]

         country  year
840  Korea, Rep.  1952
841  Korea, Rep.  1957
842  Korea, Rep.  1962
843  Korea, Rep.  1967
844  Korea, Rep.  1972
845  Korea, Rep.  1977
846  Korea, Rep.  1982
847  Korea, Rep.  1987
848  Korea, Rep.  1992
849  Korea, Rep.  1997
850  Korea, Rep.  2002
851  Korea, Rep.  2007

In [73]:
df_korea = df[df.country == "Korea, Rep."]
df_korea[["year", "lifeExp"]] # 괄호 두개 까먹지 마셈 ㅇㅇ

     year  lifeExp
840  1952   47.453
841  1957   52.681
842  1962   55.292
843  1967   57.716
844  1972   62.612
845  1977   64.766
846  1982   67.123
847  1987   69.810
848  1992   72.244
849  1997   74.647
850  2002   77.045
851  2007   78.623

In [74]:
df["country"].nunique() # 중복 빼고 개수 출력해줌 ㅇㅇ

142

In [75]:
df.country.value_counts()

Afghanistan          12
Pakistan             12
New Zealand          12
Nicaragua            12
Niger                12
                     ..
Eritrea              12
Equatorial Guinea    12
El Salvador          12
Egypt                12
Zimbabwe             12
Name: country, Length: 142, dtype: int64

In [76]:
df["continent"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'], dtype=object)

In [77]:
df.groupby("continent")["lifeExp", "pop"].mean()

/Users/jochan-u/opt/anaconda3/envs/class/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

             lifeExp           pop
continent
Africa     48.865330  9.916003e+06
Americas   64.658737  2.450479e+07
Asia       60.064903  7.703872e+07
Europe     71.903686  1.716976e+07
Oceania    74.326208  8.874672e+06

In [78]:
df.groupby("continent")["country"].nunique()

continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64

In [79]:
df.groupby(["continent", "country"])["country"].nunique()

continent  country
Africa     Algeria           1
           Angola            1
           Benin             1
           Botswana          1
           Burkina Faso      1
                            ..
Europe     Switzerland       1
           Turkey            1
           United Kingdom    1
Oceania    Australia         1
           New Zealand       1
Name: country, Length: 142, dtype: int64

In [80]:
df.groupby(["continent", "country"])["country"].value_counts()

continent  country         country
Africa     Algeria         Algeria           12
           Angola          Angola            12
           Benin           Benin             12
           Botswana        Botswana          12
           Burkina Faso    Burkina Faso      12
                                             ..
Europe     Switzerland     Switzerland       12
           Turkey          Turkey            12
           United Kingdom  United Kingdom    12
Oceania    Australia       Australia         12
           New Zealand     New Zealand       12
Name: country, Length: 142, dtype: int64

In [81]:
df2 = df.groupby("country")["lifeExp"].agg(["mean", "median"])
df2

                         mean   median
country
Afghanistan         37.478833  39.1460
Albania             68.432917  69.6750
Algeria             59.030167  59.6910
Angola              37.883500  39.6945
Argentina           69.060417  69.2115
...                       ...      ...
Vietnam             57.479500  57.2900
West Bank and Gaza  60.328667  62.5855
Yemen, Rep.         46.780417  46.6440
Zambia              45.996333  46.0615
Zimbabwe            52.663167  53.1765

[142 rows x 2 columns]

In [82]:
df2.reset_index(inplace=True)

In [83]:
df2.set_index("country")

                         mean   median
country
Afghanistan         37.478833  39.1460
Albania             68.432917  69.6750
Algeria             59.030167  59.6910
Angola              37.883500  39.6945
Argentina           69.060417  69.2115
...                       ...      ...
Vietnam             57.479500  57.2900
West Bank and Gaza  60.328667  62.5855
Yemen, Rep.         46.780417  46.6440
Zambia              45.996333  46.0615
Zimbabwe            52.663167  53.1765

[142 rows x 2 columns]

In [84]:
df2[["median"]]*10

      median
0    391.460
1    696.750
2    596.910
3    396.945
4    692.115
..       ...
137  572.900
138  625.855
139  466.440
140  460.615
141  531.765

[142 rows x 1 columns]

In [85]:
def multi10(x):
    return x*10

In [86]:
df2["median"].apply(multi10) # apply 로 함수를 열에 바로 적용 시켜버리기

0      391.460
1      696.750
2      596.910
3      396.945
4      692.115
        ...
137    572.900
138    625.855
139    466.440
140    460.615
141    531.765
Name: median, Length: 142, dtype: float64

In [94]:
A = 1
(A == 2)*1

0